@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */

  }
  
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */

  }
  
  /* open-sans-300italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/open-sans-v34-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/open-sans-v34-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  }

  .highlight_smallfont,
  .BrowseHeader,
  .highlight,
  .History_header,
  .slogan_contact,
  .slogan,
  .ContactLocal,
  .contact_credentials,
  .SomeHistory,
  .Somehistory2,
  .SomeHistory3,
  .Checkout_success_box {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.index_bg,
.browse_bg {
    background: url(/images/testbg.png);
    background-size: cover;
}
.ourmission_bg,
.contact_bg {
    color: #000000;
    background: rgb(214,214,214); 
    background: repeating-linear-gradient(180deg, rgb(59, 59, 59) 0%, rgb(21, 24, 21) 51%, rgb(0, 0, 0) 100%);
}
:root {
    --Main-h1-size: 3.75em; 
    --Main-h2-size: 2.25em;
    --Main-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --Mintgreen-font-color: #d7f9df;
}
body {
    background-size: cover;
    background-attachment: fixed;
}
a:link {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    text-decoration-color: var(--Mintgreen-font-color);
}
.title {
    background-color: var(--Mintgreen-font-color);
    display: flex;
    justify-content: center;
    color: #000;
    box-shadow: 5px 5px 5px 5px rgba(36, 36, 36, 0.75);
    max-width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:50%;
    padding-right:50%;
    border-radius: 0% 0% 3% 3%;
    filter: drop-shadow(0px 0px 25px 25px #09ff00);
}
.header {
    max-height: 125px;
    max-width: auto;
}
.header img {
    max-height: fit-content;
}
.slogan {
    border-radius: 5px;
    margin: auto;
    max-width: 50vmax;
    background-color:  rgba(32, 6, 59,0.65);
    backdrop-filter: blur(10px);
    margin-bottom: 30px;
    color:var(--Mintgreen-font-color);
    text-align: center;
}
.slogan_contact {
    display: block;
    color: var(--Mintgreen-font-color);
    font-size:xx-large;
    text-align: center;
    margin-bottom: 0%;
}
.slogan_contact h2 {
    font-size: smaller;
}
.highlight_smallfont {
    color: #20063B;
    font-size: 25px;
}
.BrowseHeader {
    color: var(--Mintgreen-font-color);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5%;
    background-color:  rgb(32, 6, 59,0.50);
    backdrop-filter: blur(10px);
    font-size: 200%;
    margin-top: 20px;
    text-align: center;
}
.ControllerBackground {
    text-align: center;
    position: relative;

}
.ControllerImage {
    max-width: 85%;
    max-height: 600px;;
    border-radius: 5%;
    opacity: 0.92;
}
.BrowseButton {
    font-size: 200%;
    display:inline-block;
    text-align: center;
	background-color:#20063B;
	border-radius: 5%;
    z-index: 2;
	width: 33%;
    transform: translate(0%, -155%);
    margin: auto;
    color: white;
    padding: 12px 24px;
    border:#d5f9de;
    cursor: pointer;
}
.BrowseButton button:hover {
    backdrop-filter: blur(200px);
    font-size: larger;
}
.BrowseItems img {
    max-width: 300px;
}

.BrowseItems {
    color: var(--Mintgreen-font-color);
    backdrop-filter: blur(10px);
    border-radius: 2%;
    box-shadow: 0 4px 16px 0  rgba(0, 0, 0, 1);
    background-color: rgba(32, 6, 59,0.50);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.BrowseContainer {
    padding: 10px;
    display: grid;
    grid-gap: 1%;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.Price {
    color: var(--Mintgreen-font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
.purchasebtn {
    color: var(--Mintgreen-font-color);
    text-align: center;
    border:none;
    outline: 0;
    padding: 12px;
    background-color: #000;
    cursor: pointer;
    width: 92%;
    font-size: 18px;
}
.Contactusbtn_checkout {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    font-size:xx-large;
}
  
.purchasebtn:hover {
    opacity: 0.8;
    border-radius: 7%;
    font-size: larger;
  }
.Contact_us,
.contact_Visit {
    font-size: 25px;
    color: #000;
}
.contact_credentials {
    margin-left: 25px;
    padding-bottom: 15px;
}
.contact_Visit {
    margin-top: 15%;
}
.contact_Adress {
    font-size: 27px;
}
.ContactRemote {
    font-size: 35px;
    background: rgba(158, 51, 170, 0.4);
    border-radius: 7%;
    max-width: 450px;
    padding-right: 5%
}
.ContactRemote img {
    max-width:350px;
    max-height:auto;
    float:top;
}
.PoolGuys {
    padding-top: 15%;
    padding-left: 10%;

}
.ContactLocation {
    font-size: 35px;
    background: rgba(158, 51, 170, 0.4);
    border-radius: 7%;
    max-width: 450px;
}
.ContactContainer img {
    justify-content:right;
}
.ContactLocal {
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom:5%;
}
.ContactLocal img {
    float:right;
    max-width: 355px;
    max-height: auto;
}
h2 {
    font-size: 25px;
}
.History_header {
    color: var(--Mintgreen-font-color);
    font-size: 3.75em;
    text-align: center;
}
.History_section1 {
    background: rgba(215, 249, 223, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(215, 249, 223, 0.3);
    color: #000;
    margin: auto;
    max-width: 1000px;
    padding-right: 50px;
    padding-bottom: 200px;
}
.History_section1 fa-solid {
    color: green;
}
.History_section1 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.SomeHistory,
.SomeHistory3 {
    text-align: center;
    padding-left: 10%;
    font-size: 23px;
}
.SomeHistory img,
.SomeHistory3 img {
    max-width: 355px;
    float:left;
    padding-right: 5%;
    padding-top: 1rem;
}
.Somehistory2 {
    font-size: 23px;
    padding-left: 9%;
    padding-right: 12%;
    padding-top: 15%;
}
.Somehistory2 img {
    max-width: 250px;
    max-height: auto;
    float:right;
    padding-left: 5%;
    border-radius: 7%;
}
.SomeHistory3 {
    padding-top: 25%;
    padding-bottom: 5%;
}
.Checkout_success_box {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%; 
    text-align: center;
}
.Checkout_success_box a {
    color:rgb(255, 255, 255);
}
.Checkout_success_thanks {
    padding-top: 3%;
    text-align: center;
}
.Contact_us_btn {
    color: var(--Mintgreen-font-color);
    text-align: center;
    border:none;
    outline: 0;
    padding: 12px;
    background-color: #000;
    cursor: pointer;
    width: 92%;
    font-size: 18px;
}
.Checkmark_Icon {
    max-width: 175px;
    max-height: auto;
}
.Shoppingcart_form {
    display:flex;
    font-size: large;
}
nav,
#menu-checkbox {
    display: none;
}
#menu-checkbox:checked ~ nav {
    display:block;
}
header {
    position: relative;
}
nav {
    text-align: center;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.73);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(0, 0, 0, 1);
}
nav a {
    display:block;
    color: #fff;
    padding: 10px 20px;
}
@media (max-width: 740px) {
    .SomeHistory img {
        display:block;
    }
}
@media (max-width: 800px) {
    .Checkout_success_box {
        display:block;
    }
    .History_section1 {
       display:flex;
       flex-wrap: wrap;
    }
}
@media (min-width: 600px){
    nav {
        position: fixed;
        display: flex;
    }
    .hamburger-icon {
        display:none;
    }
}
.navdiv {
    z-index: 100;
    position: fixed;
}
@media (max-width: 1000px){
    .Checkout_success_box {
    margin-left: 0%;
    margin-right: 0%;
    }
}
@media (max-width: 985px){
    .History_section1,
    .ContactLocal {
        margin-left: 0px; 
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
li {
    font-size: 18px;
    margin-bottom: 10px;
  }
.fa-solid {
    margin-right: 10px;
    color:#000;
  }
  
/* max-width = if size equal to or smaller than x
    min-width = if size equal to or bigger than x*/
