.title {
    text-align: center;
    color: #ffffff;
    background-color: #48ff76;
    max-width:25%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0% 0% 7% 7%
}
.header {
    background-color:antiquewhite;
}